
  <footer>
            <p>Term & Conditions</p>

            <p>&copy;Copyright</p>

            <p>Follow Us:</p>

            <img src="../../../assets/Images/2021_Facebook_icon.svg.png" width="30px" alt="">
            <img src="../../../assets/Images/YouTube_full-color_icon_(2017).svg.webp" width="30px" alt="">
            <img src="../../../assets/Images/instagram-round-icon-png-5.png" width="30px"alt="">


  </footer>


<!-- <div class="box alert alert-success" role="alert">
  Footer
</div>  -->
