
  <footer>
            <a href="http://www.google.com">Term & Conditions</a>
            <a href="http://www.google.com">Copyright &copy; </a>
            <p>Follow Us</p>
<a href="http://www.facebook.com"> <img src="../../../assets/Images/2021_Facebook_icon.svg.png" width="30px" alt=""></a>
<a href="https://www.youtube.com">  <img src="../../../assets/Images/YouTube_full-color_icon_(2017).svg.webp" width="30px" alt=""> </a>
<a href="https://www.instagram.com"><img src="../../../assets/Images/instagram-round-icon-png-5.png" width="30px"alt=""></a>
          
  </footer>


<!-- <div class="box alert alert-success" role="alert">
  Footer
</div>  -->
