/* .box {
    height: 400px;
    width: 500px;
    margin-left: 500px;
} */


.title {
    font-size: 50px;
    text-align: center;
    font-family: cursive;
    margin-top: -60px;
}


p {
    font-size: 16px;
    text-align: center;
   
}


.main-container-1 {
    border: #C195AD 5px solid;
    width: 70%;
    height: 400px;
    margin: 0  auto;
    margin-top: 50px;
    display: flex;
    margin-bottom: 10px;


} 



.main-image {
  margin: 50px;
   
   
}

.description-1 {

    width: 700px;
    height: 400px;
    margin-top: 100px;


} 


.description-1 :nth-child(3) {
    width: 100px;
    color: blue;
    margin-left: 300px;
    margin-top: 30px;
    
}

.btn-info {
    background-color: pink ;
    border: none;
    margin: 1px;
}




@media (max-width: 1017px){
    h2 {
        font-size: 10px;
        color: maroon;
        text-align: center; 
        
    }
    
    p {
        font-size: 10px;
        text-align: center;
       
    }
    .main-container-1 {
        border: #C195AD 5px solid;
        width: 80%;
        height: 300px;
        margin: 0  auto;
        margin-top: 1px;
        padding: 0 30px;
        display: flex;
        margin-bottom: 100px;
    } 
    
     .main-container-1 div {
        border: rgb(182, 19, 81) 5px solid;
        height: 230px;
        width: 200px;
    } 
    
     .main-image  {
        margin-top: 50px;
        margin-left: -10px;
        margin-right: 10px;

        align-self: center;
        width: 200px;
        height:100px;  
    } 

    
.description-1 {

    width: 500px;
    height: 200px;
    margin-top: 30px; 
    margin-left: 10px;

} 

.description-1 :nth-child(3) {
    width: 100px;
    color: blue;
        background-color: pink ;
        border: none;
        margin: 100px;
        font-size: 10px;
        margin-top: -10px;
        margin-left: 50px;
    
}
     
    .description-1-images  {
        width: 10%;
        height: 40px;
        margin: 15px;
        padding: 1px;
        border: #b9fbc0 3px solid; 
    } 
}