/* .box {
    height: 400px;
    width: 500px;
    margin-left: 500px;
} */



.title {
    font-size: 50px;
    text-align: center;
    font-family: cursive;
}

.box-gallery {
    border: rgb(213, 174, 195) 10px solid;
    height: 400px;
    background-color: white;
    margin: 60px;
}

   
.container {
    width: 95%;
    height: 300px;
    margin-left: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container img {

    width: 100px;
    height: 100px;
    background-color: rgb(193, 149, 173);
} 


@media (max-width: 1017px){
    .box-gallery {
        height: 1050px;
    }

    .container {
        width: 95%;
        height: 350px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    
}