<!-- <div class="box alert alert-secondary" role="alert">
  Gallery
</div> -->


<div class="box-gallery">

  <p class="title">Gallery of Scarves</p>

  <div class="container">

      <img src="../../../assets/Images/carl.jpg" alt="">

      <img src="../../../assets/Images/caro.jpg" alt="">

      <img src="../../../assets/Images/cha.jpg" alt="">

      <img src="../../../assets/Images/java.jpg" alt="">

      <img src="../../../assets/Images/kel.jpg" alt="">

      <img src="../../../assets/Images/mah.jpg" alt="">

      <img src="../../../assets/Images/reha.jpg" alt="">

      <img src="../../../assets/Images/she.jpg" alt="">

      <img src="../../../assets/Images/vic.jpg" alt="">

      <img src="../../../assets/Images/sio.jpg" alt="">

      <img src="../../../assets/Images/reha.jpg" alt="">

      <img src="../../../assets/Images/mah.jpg" alt="">

      <img src="../../../assets/Images/kel.jpg" alt="">

      <img src=" ../../../assets/Images/asa.jpg" alt="">

      <img src="../../../assets/Images/carl.jpg" alt="">

      <img src="../../../assets/Images/caro.jpg" alt="">
      <img src="../../../assets/Images/cha.jpg" alt="">

      <img src=" ../../../assets/Images/ha.jpg" alt="">

      <img src="../../../assets/Images/java.jpg" alt="">

      <img src="../../../assets/Images/kel.jpg" alt="">
      <img src="../../../assets/Images/mah.jpg" alt="">
      <img src=" ../../../assets/Images/reha.jpg" alt="">
      <img src="../../../assets/Images/she.jpg" alt="">
      <img src="../../../assets/Images/sio.jpg" alt="">

  </div>
</div>



<app-footer></app-footer>

