
<!-- <div class="box alert alert-danger" role="alert">
    Introduction Section
  </div> -->
  <main>
    <div class="main-container-1">
        <div class="description-1">
            <h2 class="title">Product Description</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci aliquid consequatur dolore dolorum tempora et quibusdam minima nam ad sint quis fugiat nulla id reiciendis sed commodi deserunt debitis obcaecati laudantium alias accusamus soluta, inventore architecto. Neque praesentium animi totam laboriosam deleniti, quaerat quasi illum veritatis, vero minus repudiandae! Maiores.</p>

            <img class="description-1-images" src="../../../assets/Images/asa.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/java.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/mah.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/sio.jpg" alt="">

            <button class="btn-add">Add Item</button>

        </div>
        <img class="main-image" src="../../../assets/Images/vic.jpg" alt="">
    </div>




<app-info></app-info>