
<!-- <div class="box alert alert-danger" role="alert">
    Introduction Section
  </div> -->
  <main>
    <div class="main-container-1">
        <div class="description-1">
            <h2>Product description</h2>
            <p>
                amet quibusdam pariatur voluptas,
                eveniet
                modi! Voluptate tenetur quidem laudantium? Lorem ipsum dolor sit amet consectetur
                adipisicing
                elit.
                Hic,
                quo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, omnis!
            </p>

            <img class="description-1-images" src="../../../assets/Images/asa.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/java.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/mah.jpg" alt="">
            <img class="description-1-images" src="../../../assets/Images/sio.jpg" alt="">

            <button class="btn-add">Add Item</button>

        </div>
        <img class="main-image" src="../../../assets/Images/vic.jpg" alt="">
    </div>




<app-info></app-info>