<header>
  <div class="logo">
    <img src="../../../assets/Images/logo.png" width="100px" alt="">

  </div>

  <h1 class="company-name">Dee Scarves</h1>

  <div>

    <ol>
      <li>Shopping Cart</li>
      <li>Login</li>
    </ol>
  


      <ul>
        <li> Home </li>    
        <li> Products</li>
        <li> Contacts</li>    
      </ul>

</div>

</header>









  

    <app-intro></app-intro>
    

    <!-- <nav class="navbar navbar-dark bg-dark">
      <img src="../../../assets/Images/logo.png" width="100px" alt="">
          <div class="container">
            <a class="company-name">DeeScarves</a>
            <div>
              <button class="buttons" type="button">Cart</button>
              <button class="buttons" type="button">Register</button>
              <button class="buttons" type="button">Home</button>
              <button class="buttons" type="button">About Us</button>
              <button class="buttons" type="button">Contact</button>
            </div>
          
          </div>
        </nav> -->