<nav class="navbar navbar-dark bg-dark">
    <img src="../../../assets/Images/logo.png" width="100px" alt="">
        <div class="container">
          <a class="company-name">DeeScarves</a>
          <div>
            <button class="buttons" type="button">Cart</button>
            <button class="buttons" type="button">Register</button>
            <button class="buttons" type="button">Home</button>
            <button class="buttons" type="button">About Us</button>
            <button class="buttons" type="button">Contact</button>
          </div>
        
        </div>
      </nav>

  

    <app-intro></app-intro>
      