
.company-name {
    font-size: 50px;
    color: white;
}

.buttons {
    color: red;
    border: red 3px solid;
    list-style-type: none;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
}
